.formulario{
    padding: 10px;
    border-radius: 15px;
    background-color: rgb(153, 197, 190);
}

.contenedor{
    margin: auto;
    margin-top: 50px;
    width: 75%; 
    background-color: rgba(13, 108, 108, 0.884);  
    border-radius: 15px;
    padding: 5px;
}

.titulo{
    text-align: center;
    padding: 10px;
    border-radius: 15px;
}

.resultTextArea{
    padding-top: 8px;
}